* {
  margin: 0%;
  padding: 0%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2e8cf;
}

#container {
  background: black;
  max-width: 750px;
  width: 100%;
  border-radius: 1rem;
}
header h1 {
  padding: 2rem;
  color: white;
}

#task-form {
  display: flex;
  padding-bottom: 1rem;
}

#task-form input {
  padding-left: 1rem;
  height: 3rem;
  width: 100%;
  background-color: var(--bg);
  color: white;
  border: 1px solid #f2e8cf;
  border-radius: 1rem;
  margin-left: 2rem;
  font-size: 1.25rem;
  outline: none;
}

.btn {
  background-color: var(--bg);
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  border: 1px solid #f2e8cf;
  border-radius: 1rem;
  font-size: 1rem;
}

.task div {
  display: flex;
  align-items: center;
  height: 3rem;
  color: white;
  padding-left: 1rem;
  border: 1px solid #f2e8cf;
  border-radius: 1rem;
  font-size: 1.25rem;
  margin: 0 2rem 1rem;
  outline: none;
  position: relative;
}

.task div i {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
